# Build validation

name: Build

on:
  push:
    branches:
      - develop
  pull_request:
  workflow_dispatch:

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [17, 21, 25]
        os: [ubuntu-latest]
        distribution: [temurin]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Build and verify
        run: ./mvnw -s ./.maven-settings.xml -B -U -Prun-its clean verify
